body
{
  background-color: white;
  padding-left: 3rem;
}


#card1
{
}

#ProfilePic
{
  padding-right: 2rem;
}

#rapperview
{
  padding-top: 2rem;
  padding-left: 1rem;
}

#battle
{
  padding-top: 2rem;
}

#middleBattle
{
}

#signup
{
  padding-top: 2rem;
}
